<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button (click)="closeChat()" slot="start" fill="clear">
      <ion-icon
        style="color: white; font-size: 25px;"
        name="arrow-back"
      ></ion-icon>
    </ion-button>
    <ion-title>{{ chat.name }}</ion-title>
  </ion-toolbar>
</ion-header>



<div *ngIf="room">
  <ion-card *ngFor="let mensag of room.messages">
    <ion-card-content>
      {{ mensag.content }}
    </ion-card-content>
  </ion-card>
</div>

<ion-footer padding>
  <ion-item>
    <ion-textarea [(ngModel)]="mensajeTextArea"></ion-textarea>
    <ion-button (click)="sendMessage()" slot="end" color="success">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
