<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-button (click)="presentActionSheet()" slot="end" fill="clear">
      <ion-icon style="color: white;" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Mi app de chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-button (click)="OnLogout()">Desconectarse</ion-button> -->

  <ion-list>
      <ion-item *ngFor = "let chat of chatRooms" (click)="openChat(chat)">
        <ion-avatar slot="start">
          <ion-img src="{{chat.img}}"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2><b>{{chat.name}}</b></h2>
          <p>{{chat.description}}</p>
        </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
